**.csv
**.db
**.egg-info
**.eggs
**.log
**.md
**.pickle
**.png
**__pycache__**
*.d
*.db
*.egg-info  
*.eggs/
*.pickle
*.pyc
*.pyd
*.pyo
*.txt
*.whl
./*.db
.cache
.eggs
.git
.pytest_cache
.pymon
build
dist
docker
kadlu.egg-info
!kadlu.egg-info/requires.txt
